
#head2 {
    background-color:black;
    color: beige;

}
.malls{
      background-color:black;
    color: beige;
}
div>h1{
    background-color: aquamarine;
}
h4~p{
    background-color:magenta;
}
[class]{
    background-color: aqua;
}
[class='q']{
    background-color: antiquewhite;
}
[id='head6'] {
    background-color: blue;
}