.main{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlo2Pur_qbTkrkjwojmCiXf_YN9VuYzpTVDVC2r02Jfxu6ELaqAmfcx7xh&s=10');
    background-attachment: fixed;
    color: bisque;
    height: 400px;
    width: 600px;
    overflow: auto;
}

.container{
    height: 300px;
    width: 90vw;
    padding: 30px;
    background-color: brown;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
}