.box1{
    height: 300px;
    width: 300px;
    background: linear-gradient(45deg, pink,yellow,skyblue,orange);
}
.box2{
    height: 300px;
    width: 300px;
    background: linear-gradient(orange,yellow,red,orange);

}