
h2{
    font-size: 4em;
    background : linear-gradient(pink,rgb(104,3,104),red,rgb(228, 105, 10),rgb(210,17,27));
    background-clip: text;
    color:transparent;
}

h4{
  font-size: 4em;
    background : linear-gradient(pink,rgb(104,3,104),red,rgb(228, 105, 10),rgb(210,17,27));
    background-clip: text;
    color:transparent;
}